.site{
  max-width: 100%;
}

  html,body{
    width: 100%;
    max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
  h1{
  font-family: 'Oswald', sans-serif;
  color:#092532;
  font-size: 2rem;
  font-weight: bold;
}
.title{
  font-size: 2rem;
  margin-top: 10px;
  font-family: 'Chelsea Market', cursive;
  font-weight: bold;
}
.div1{
  background-image: linear-gradient(to right , #6bd191, #64d5a6, #62d9b9, #67dcca, #71ded8, #57d9e1, #3cd3ea, #21ccf3, #00bbff, #00a6ff, #008eff, #5f6ffb);
  margin: 0;
  background-position: center;
  background-size: cover;
}
.nav-item{
  font-family: 'Varela Round', sans-serif;
  padding: 0 10px;
}
.explore{
  font-size: 300%;
  padding: 10% 10% 10% 17%;
  text-align: left;
  color: white;
    font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.center{
  text-align: center;
}

@media (max-width:900px) {
.explore{
    font-size: 2rem;
    padding-bottom: 10px;
    margin-bottom: 5px;
  }
}
.header{
  font-size: 3rem;
}
.links{
    font-family: 'Chelsea Market', cursive;
    font-size: 2rem;
    color: #01a9b4;
    text-decoration: none;

}
.links:hover{
  color: red;
  text-decoration:none;

}
.taj{
  width: 70%;
  margin-top: 10px;
    border-radius: 35px;
}
.top{
padding-left: 7%;
padding-right: 7%;
}
.pisa{
  width: 45%;
  margin-left: 5%;
}
.fb{
  width: 30px;
}
.button{
  margin: 0 2%;
}
.slideshow{
  width: 50%;
  margin: auto;
}
.quotes{
  font-size: 1rem;
  font-family: 'Chelsea Market', cursive;
}
.footer{
  padding: 1% 10%;
  text-align:center;
}
.cont{
  width: 16px;
}
.con{
  margin: 5px;
}
.place{
  text-align: center;
}

/* indian page */

.ihead{
  font-size: 2.5rem;
  color: #092532;
    font-family: 'Oswald', sans-serif;
    min-width: 300px;
}
.itop{
  text-align: center;
}
.itop2{
  width: 90%;
  text-align: left;
  font-size: 1rem;
  margin: auto;
  font-family: 'Chelsea Market', cursive;
}
.li{
  font-size: 1.2rem;
   padding: 30px 0;

}
.ipic{
  width: 300px;
}
.ifoot{
  text-align: center;
}
/* contact */
.chead{
  width: 80%;
  margin: auto;
}
.contact{
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}
.co{
  font-size: 1.5rem;
  font-family: 'Chelsea Market', cursive;

}
/* feedback */
.feedback{
  width: 80%;
  margin: auto;
}
